/* inobmabiki4.ml, 2020 */

body {
	margin: 0;
}

main {
	width: 100%;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100vh;
}

img {
	max-width: 100%;
	max-height: 100vh;
}
